@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;600&display=swap');

/*
    1. Remove default margin
*/
* {
  margin: 0;
}

/*
      2. Allow percentage-based heights in the application
  */
html,
body {
  height: 100%;
}

/*
      Typographic tweaks!
      3. Add accessible line-height
      4. Improve text rendering
  */
body {
  color: #fff;
  background: hsl(233, 47%, 7%);
  text-align: center;
  font-family: "Outfit", sans-serif;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/*
      5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
      6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}

/*
      7. Avoid text overflows
    */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
      8. Create a root stacking context
    */
#root,
#__next {
  isolation: isolate;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 18px;
  max-width: 300px;
  background: hsl(216, 50%, 16%);
  color: hsl(0, 0%, 100%);
  padding: 1.45em;
  border-radius: 0.6rem;
}

.eqImg {
  max-width: 356px;
  border-radius: 0.85rem;
}

.texts {
  max-width: 356px;
}

.texts h3 {
  line-height: 3.5;
}

.description {
  font-weight: 300;
  color: hsla(0, 0%, 100%, 0.6);
  margin-bottom: 18px;
}

.price {
  display: flex;
  color: hsl(178, 100%, 50%);
  font-weight: 600;
  gap: 8px;
  align-items: center;
}

.priceAndExpDate {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}

.expireDate {
  display: flex;
  gap: 8px;
  align-items: center;
  color: hsl(214.6, 50.6%, 69.8%);
  font-weight: 400;
}

hr {
  margin: 1em 0 0.95em 0;
  height: 1px;
  background-color: hsl(215, 32%, 27%);
  border: none;
}

.info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.info img {
  max-width: 30px;
  border: 1px solid white;
  border-radius: 16px;
  margin-right: 20px;
}

.info p {
  color: hsla(0, 0%, 100%, 0.6);
  font-size: 16px;
  font-weight: 300;
}

.info p span {
  color: hsl(0, 0%, 100%);
}

footer {
  border: 1px solid white;
  border-radius: 6px;
  padding: 4px;
  background: hsla(214.3, 51.6%, 18.6%, 0.63);
  position: absolute;
  top: 49.5em;
}
